/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    min-width: 750px;
    min-height: 485px;
    text-align: center; /* IE fix for centering */
    background-color: #272822;
    color: #A4A4A4;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

/* Body */
.vertical {
    float: left;
    height: 50%;
    margin-top: -275px; /* half vertical height*/
    width: 100%;
}

.content {
    position: relative; /* so that the footer stays at the bottom */
    width: 750px;
    height: 485px;
    margin: 0 auto;
    /*border: 1px solid #666;*/
    overflow: auto; /* allow content to scroll inside element */
    text-align: left;
}

.wrapper {
    overflow-x: hidden; /* Prevents other slides from being seen */
}

.steps {
    width: 750px;
    height: 485px;
    overflow: hidden;
}

.step {
    position: relative;
    float: left;
    width: 750px;
    height: 485px;
}

.index-text {
    position: relative;
    width: 350px;
    top: 30%;
    margin: 0 auto;
    text-shadow: -0.2em 0.2em 0.2em black;
}

.left-image {
    position: relative;
    float: left;
    top: 140px;
    width: 246px;
    height: 345px;
    background-image: url('../img/sitting-laptop.png');
}

.about-text {
    position: absolute;
    float: left;
    width: 400px;
    left: 40%;
    top: 25%;
    text-shadow: -0.1em 0.1em 0.1em black;
}

.about-text ul {
    list-style: none;
}

.footer {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #000;
}

.footer-list {
    width: 750px;
    margin: 0 auto;
    list-style: none;
}

.footer-list li {
    display: inline-block;
    padding: 0 45px;
}

.footer-list a {
    float: left;
    padding: 15px 15px;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: #F2F2F2;
}

.footer-list li a:hover,
.footer-list .selected a {
    background: #d8d8d8;
    color: #666;
    text-shadow: 1px 1px 1px #fff;
    -webkit-transition: color 0.25s ease-in;
    -webkit-transition: background 0.25s ease-in;
}