/* GLOBAL STYLES */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: #F2F2F2;
    color: #5a5a5a;
    min-width: 626px;
    min-height: 400px;
}

.vertical {
    float: left;
    height: 50%;
    margin-top: -275px; /* half vertical height*/
    width: 100%;
}

.content {
    position: relative; /* so that the footer stays at the bottom */
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    height: 550px;
    border: 1px solid silver;
    background: #666;
    overflow: auto; /* allow content to scroll inside element */
    text-align: left;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

.header {
    position: absolute;
    padding-top: 10px;
    padding-left: 15px;
    height: 50px;
    color: #ffffff;
}

.footer {
    /* keeps the footer stuck to the bottom of the .content div */
    position: absolute;
    background-color: #000;
    height: 75px;
    width: 750px;
    bottom: 0;
    left: 0;
    color: #ffffff;
    -moz-border-radius: 0 0 25px 25px;
    -webkit-border-radius: 0 0 25px 25px;
    border-radius: 0 0 25px 25px;
}

/* Keep the list in one line and space it out */
.footer-list ul, li {
    display: inline;
}

.footer ul li a {
    display: block;
    color: white;
    padding: 27px 65px;  
    float: left;
}   

h1 {
    color: #fff;
    margin: 0;
    padding: 0;
}